In [1]:
import pandas as pd

In [11]:
data =  [["João Guilherme", 12, 8.0, True],
            ['Paula Loise', 15, 3.5, False],
            ['Carlos Batos', 18, 9.3, True]]

dataset = pd.DataFrame(data, columns= ['Aluno', 'Idade', 'Nota', 'Aprovado'])

In [12]:
dataset

            Aluno  Idade  Nota  Aprovado
0  João Guilherme     12   8.0      True
1     Paula Loise     15   3.5     False
2    Carlos Batos     18   9.3      True