# Formas de Seleção

In [2]:
import pandas as pd

In [4]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [5]:
#Seleciona Coluna
df['c2']

l1     2
l2     6
l3    10
l4    14
Name: c2, dtype: int64

In [8]:
#Foi criada uma series
type(df['c2'])

pandas.core.series.Series

In [6]:
#Seleciona Colunas
df[['c2', 'c3','c4']]

    c2  c3  c4
l1   2   3   4
l2   6   7   8
l3  10  11  12
l4  14  15  16

In [9]:
#Foi criado um DF
type(df[['c2', 'c3','c4']])

pandas.core.frame.DataFrame

In [10]:
#Seleciona todas as linhas
df[:]

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [13]:
#Seleciona algumas linhas
df[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12

In [14]:
#seleciona linhas e colunas
df[1:4][['c2', 'c3']]

    c2  c3
l2   6   7
l3  10  11
l4  14  15

In [18]:
#Localiza linhas a partir dos rotulos
df.loc[['l2', 'l4']]

    c1  c2  c3  c4
l2   5   6   7   8
l4  13  14  15  16

In [21]:
#Localiza o valor q pertence rotulos [linha,coluna]
df.loc['l3', 'c2']

10

In [23]:
#Localiza valor através das coordenadas [linha, coluna] começando do 0
df.iloc[2,1]

10

#### Equivalentes

In [24]:
df.loc[['l3', 'l1'], ['c4','c1']]

    c4  c1
l3  12   8
l1   4   1

In [25]:
df.iloc[[2,0],[3,0]]

    c4  c1
l3  12   8
l1   4   1