# Relatório de Análise IV

## Seleção e Frequencias

# Tarefas Solicitadas:

### Selecione somente os imóveis classificados com tipo "Apartamento"
### Selecione os imóveis classificados com tipos "Casa", "Casa de Condominio" e "Casa de Vila"
### Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
### Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00
-------------------------------

In [35]:
import pandas as pd

In [36]:
dataset = pd.read_csv("dados/alugueis_residencial.csv", sep=';')
dataset

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
23102,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
23103,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
23104,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
23105,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
23106,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

#### Selecione somente os imóveis classificados com tipo "Apartamento"

In [37]:
ap = ['Apartamento']
selecao = dataset['Tipo'].isin(ap)
selecao

#modo alternativo
#selecao = dataset['Tipo'] == "Apartamento"
#selecao

0        False
1        False
2         True
3         True
4         True
         ...
23102     True
23103    False
23104     True
23105     True
23106     True
Name: Tipo, Length: 23107, dtype: bool

In [38]:
data_ap = dataset[selecao]
data_ap

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
23100,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
23102,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
23104,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
23105,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
23106,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [39]:
qtd_ap = data_ap.shape[0]
qtd_ap

19532

#### Selecione os imóveis classificados com tipos "Casa", "Casa de Condominio" e "Casa de Vila"

In [40]:
selecao = (dataset['Tipo'] == "Casa") | (dataset['Tipo'] == "Casa de Condomínio") | (dataset['Tipo'] == "Casa de Vila")
data_casas = dataset[selecao]
qtd_casas = data_casas.shape[0]
qtd_casas

2212

#### Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites

In [41]:
selecao = (dataset['Area'] >= 60) & (dataset['Area'] <= 100)
data_area = dataset[selecao]
qtd_area = data_area.shape[0]
qtd_area

8990

#### Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00

In [42]:
selecao = (dataset['Quartos'] >= 4) & (dataset['Valor'] < 2000)
data = dataset[selecao]
qtd = data.shape[0]
qtd

41

In [43]:
print(f'Nº de imóveis classificados com tipo "Apartamento: {qtd_ap}')
print(f'Nº de imóveis classificados com tipos "Casa", "Casa de Condominio" e "Casa de Vila: {qtd_casas}')
print(f'Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites: {qtd_area}')
print(f'Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00: {qtd}')

Nº de imóveis classificados com tipo "Apartamento: 19532
Nº de imóveis classificados com tipos "Casa", "Casa de Condominio" e "Casa de Vila: 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites: 8990
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00: 41