# Contadores

### recursos que irão facilitar sua vida como cientista de dados

In [1]:
import pandas as pd

In [7]:
series = pd.Series(list('apreepaaerpreppraeaper'))
series

0     a
1     p
2     r
3     e
4     e
5     p
6     a
7     a
8     e
9     r
10    p
11    r
12    e
13    p
14    p
15    r
16    a
17    e
18    a
19    p
20    e
21    r
dtype: object

In [5]:
#cria um array com os itens da series sem repetir tipo um drop_duplicates
series.unique()

array(['a', 'p', 'r', 'e'], dtype=object)

In [6]:
#informa a quantidade de cada item da series
series.value_counts()

p    6
e    6
a    5
r    5
dtype: int64

In [9]:
dataset = pd.read_csv('dados/alugueis_residencial_tratado_melhorado.csv', sep=';')
dataset

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Casa
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
22348,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,12.86,Apartamento
22349,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Casa
22350,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,23.08,Apartamento
22351,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,29.17,Apartamento
22352,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86,Apartamento

In [10]:
dataset['Tipo'].value_counts()

Apartamento           18780
Casa de Condomínio      996
Casa                    965
Quitinete               836
Flat                    476
Casa de Vila            249
Loft                     51
Name: Tipo, dtype: int64

In [11]:
dataset['Tipo'].unique()

array(['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Flat',
       'Casa de Vila', 'Loft'], dtype=object)