In [5]:
import pandas as pd

In [6]:
dataset = [ [1,2,3],
            [4,5,6],
            [7,8,9] ]
dataset

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
list('321')

['3', '2', '1']

In [9]:
df = pd.DataFrame(dataset, list('321'), list('ZYX'))
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [11]:
#Ordena o indice
#inplace modifica a variavel
df.sort_index(inplace=True)
df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [12]:
#Ordena a coluna
#axis modifica a coluna
df.sort_index(inplace=True,axis=1)
df

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

In [17]:
#Pode ordenar uma variavel ou um conjunto de variaveis
#by vai escolher um conjunto de variaveis da coluna X
#Mas os indices voltam ao q eram antes
df.sort_values(by=['X','Y'],inplace=True)
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [18]:
#Mas as colunas voltam ao q eram antes
df.sort_values(by='1',inplace=True,axis=1)
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9